<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../static/css/layui.css">
</head>
<body>
<div class="layui-container" style="margin-top: 30px;text-align: center;">
<form action="/search_post/" method="post">
    <div class=" layui-input-inline layui-col-md10">
        <input type="text" name="keyword" placeholder="Place input keyword"
               autocomplete="off" class="layui-input">
    </div>
        <button class="layui-btn  layui-btn-warm layui-col-md2" lay-submit lay-filter="formDemo">Search</button>
</form>
</div>
<script src="../static/layui.js"></script>
<script>
</script>
</body>
</html>