# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Administrator\Documents\WeChat Files\wxid_yk78nsjzi7fg22\FileStorage\File\2020-12\CAN00002\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
